<meta charset="UTF-8">
<link rel="icon" href="data:image/x-icon;base64,">
<title>Application Title</title>
<link rel="stylesheet" href="app/styles/app-style.css">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Wellkom | Be Well - Perform Well - Live Well Longer</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="apple-touch-icon" href="apple-touch-icon.png">
<link rel="stylesheet" href="app/styles/newcss.css">
<link rel="stylesheet" href="app/styles/bootstrap.min.css">
<link rel="stylesheet" href="app/styles/bootstrap-theme.min.css">
<link rel="stylesheet" href="app/styles/fontAwesome.css">
<link rel="stylesheet" href="app/styles/light-box.css">
<link rel="stylesheet" href="app/styles/owl-carousel.css">
<link rel="stylesheet" href="app/styles/templatemo-style.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="microsoft.cognitiveservices.speech.sdk.bundle.js"></script>
<script src="https://aka.ms/csspeech/jsbrowserpackageraw"></script>
<script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
<div class="page-content">
           <section id="projects" class="content-section">
                <div class="section-heading">
                    <h1>What is behavioural <em>rehearsal?</em></h1>
                </div>
                <div class="section-content">
                    <div class="masonry">
                        <div class="row">
                            <ul>
                            <div class="fl-right">
                              <img src="app/styles/images/behavioural-rehearsal.jpg" width="277" height="204" alt="positive self talk">
                            </div>                        
                                <li> Behavioural rehearsal is the process of routinely rehearsing activities that you are about to, or will soon be called upon to, do. These are normally actions that will help you achieve a goal</li>

                                    <li> Rehearsal can be part of a learning process but it also stands alone as preparation for carrying out an action 
                                    that you have carried out before, albeit not always very successfully. </li>
                                
                                    <li>Remember that all actors spend a significant proportion of their time rehearsing their roles “ practice makes perfect” life roles are no different</li>
                                
<li> Behavioural rehearsal is about:  
<ol>
<li>Physically going through all or part of the action (as opposed to imagining doing it)  </li>

<li>Becoming more ready from doing it</li>

<li>Building readiness and confidence that you can do it when you need to</li>

<li>Doing it – well! </li>
</ol>
</li>
<li> Rehearsing more prior to doing do things will mean you rely less on using ‘avoidance coping methods’ when life presents you with a challenge. </li>

<li> You can apply behavioural rehearsal in many ways, both in and outside of work, rehearsal could help you to:
<ol>
<li>make telephone calls to gain information </li>

<li>say “No” to extra or unreasonable demands</li>
<li>overcome the fear of public speaking </li>
<li>improve your performance in one of your leisure activities e.g. playing golf or singing in a choir..</li>
</ol></li>
</ul>
</li>
</ul>
<div class="section-heading">
  <h1>How you can learn <em>behavioural rehearsal</em></h1>
</div>
<ul><li>You need to identify the action(s) that you want to carry out; it helps to know the
goal that you want to reach. </li>
<li>Decide the sub actions you will do and in which order. 
<ol>
<li>what,</li>
<li>how, and </li>
<li>when</li>
</ol></li>
</ul>
                        </div>
                    </div>
                </div>            
            </section>
</div>
